:root {
  --color-white: #fff;
  --color-gray-light-1: rgb(253, 253, 253);
  --color-gray-light-2: rgb(247, 247, 247);
  --color-gray-light-3: rgb(221, 221, 221);
  --color-gray-dark-1: rgb(136, 136, 136);
  --color-gray-dark-2: rgb(97, 97, 97);
  --color-black: rgb(17, 16, 14);
  --color-blue: rgb(0, 133, 185);
  --color-red: rgb(250, 99, 82);
  --color-yellow: rgb(241, 200, 15);
  --color-green: rgb(2, 116, 97); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: var(--color-gray-dark-2); }

li {
  list-style: none; }

@media (min-width: 576px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 768px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 992px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 1200px) {
  html {
    font-size: 62.5%; } }

.header {
  display: flex;
  font-size: 1.4rem;
  color: var(--color-gray-dark-1);
  border-bottom: 5px solid var(--color-gray-light-3); }

.header-s {
  width: 100vw;
  padding: 0 5vw;
  font-size: 2.3rem;
  color: var(--color-gray-dark-1);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-s__left i {
    cursor: pointer; }
  .header-s__left i:first-child {
    margin-right: 10px; }
  .header-s__middle img {
    width: 14rem; }
  .header-s__right i {
    cursor: pointer; }

.header-m {
  width: 100vw;
  display: none; }

@media (min-width: 768px) {
  .header-s {
    display: none; }
  .header-m {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-m__left {
      margin-right: 3rem;
      display: flex;
      align-items: center; }
      .header-m__left-logo {
        width: 14rem; }
      .header-m__left-categories {
        display: flex;
        align-items: center;
        cursor: pointer; }
        .header-m__left-categories i {
          margin-right: 5px;
          font-size: 2rem; }
        .header-m__left-categories h6 {
          font-size: 1.4rem;
          font-weight: 400; }
    .header-m__middle {
      margin-right: 3rem; }
      .header-m__middle-form {
        position: relative; }
      .header-m__middle-input {
        width: 45vw;
        padding: .5rem 2rem;
        height: 4rem;
        border: none;
        color: var(--color-gray-dark-1);
        background: var(--color-gray-light-2);
        font-size: 2rem; }
        .header-m__middle-input::placeholder {
          color: var(--color-gray-dark-1);
          font-size: 1.5rem; }
        .header-m__middle-input:focus {
          outline: none; }
      .header-m__middle-search {
        position: absolute;
        top: 0;
        font-size: 1.5rem;
        right: 0;
        cursor: pointer;
        color: var(--color-red);
        padding: 1.2rem; }
        .header-m__middle-search:hover {
          background: var(--color-red);
          color: var(--color-white); }
    .header-m__right {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header-m__right__menu {
        display: none; }
        .header-m__right__menu li {
          cursor: pointer; }
      .header-m__right__icons {
        flex: 0 0 35%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header-m__right__icons li {
          cursor: pointer; }
        .header-m__right__icons i {
          font-size: 2rem; }
        .header-m__right__icons li:nth-child(2n-1) {
          display: none; }
        .header-m__right__icons-me {
          padding: 1.5rem;
          color: var(--color-white);
          background: var(--color-gray-dark-1);
          border-radius: 50%;
          margin-left: 2rem; } }

@media (min-width: 992px) {
  .header-m__middle-input {
    width: 40vw; }
  .header-m__right {
    flex: 0 0 30%; }
    .header-m__right__menu {
      margin-right: 3rem;
      display: flex; }
      .header-m__right__menu li:nth-of-type(3) {
        margin-left: 2rem; }
      .header-m__right__menu li:not(:last-of-type) {
        display: none; } }

@media (min-width: 1200px) {
  .header-m__middle-input {
    width: 30vw; }
  .header-m__right {
    flex: 0 0 45%; }
    .header-m__right__menu li:not(:last-of-type) {
      display: block;
      margin-right: 1rem; }
    .header-m__right__icons li:nth-child(2n-1) {
      display: block; }
    .header-m__right__icons-me {
      margin-left: 0; } }

.main {
  min-height: 100vh;
  padding: 0 5vw; }

.footer {
  padding: 5vh 0;
  background: var(--color-gray-light-2);
  font-size: 1.4rem;
  border-bottom: 0.8rem solid var(--color-red); }
  .footer__logo {
    display: flex; }
    .footer__logo img {
      width: 14rem; }
  .footer__menu {
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap; }
    .footer__menu-item:not(:last-of-type) {
      margin-right: 15px; }
    .footer__menu-item a {
      color: var(--color-blue); }
  .footer__language {
    display: none; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__logo {
      margin-right: auto; }
    .footer__menu {
      margin-right: 5vw;
      flex: 0 0 40%; }
    .footer__language {
      flex: 0 0 10%;
      border: 1px solid var(--color-gray-dark-1);
      padding: 1rem;
      margin-right: 5vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .footer__language h6 {
        font-size: 1.4rem;
        margin-left: 5px;
        margin-right: auto;
        color: var(--color-gray-dark-1); } }

.linkbar {
  display: none; }

@media (min-width: 992px) {
  .linkbar {
    display: block;
    background: var(--color-gray-light-2);
    font-size: 1.6rem;
    color: var(--color-gray-dark-1);
    position: relative; }
    .linkbar-list {
      display: flex;
      justify-content: center;
      align-items: center; }
    .linkbar-item {
      align-self: stretch;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 1.5rem 1rem; }
      .linkbar-item:hover {
        background: var(--color-gray-light-3); }
      .linkbar-item:last-of-type {
        display: none; }
      .linkbar-item i {
        margin-right: 5px; }
      .linkbar-item h5 {
        font-weight: 300; }
    .linkbar__dropdown {
      background: #1a1e24;
      color: var(--color-white);
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center; }
      .linkbar__dropdown-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem; }
      .linkbar__dropdown-link {
        padding: 3rem; }
      .linkbar__dropdown i {
        font-size: 4rem; }
      .linkbar__dropdown p {
        margin-top: 1rem; }
      .linkbar__dropdown.inactive {
        display: none; } }

@media (min-width: 1200px) {
  .linkbar-item:last-of-type {
    display: flex; } }

.facade {
  color: var(--color-white); }
  .facade-wrapper {
    background: url(../images/facade.jpg);
    background-size: cover;
    background-position: center;
    padding: 15vh 0 5vh 3vw; }
  .facade__heading {
    font-size: 3.5rem;
    font-weight: 200; }
  .facade__description {
    width: 50%;
    margin-top: 1.8rem;
    font-weight: 200;
    font-size: 1.8rem; }

@media (min-width: 992px) {
  .facade-wrapper {
    background-position: top;
    padding-bottom: 15vh; }
  .facade__heading {
    font-size: 4rem;
    font-weight: 400; } }

.gallery {
  margin: 5vh 0; }
  .gallery__title {
    font-size: 2rem;
    font-weight: 400; }
  .gallery__description {
    font-size: 1.5rem;
    padding-top: 1rem; }
  .gallery__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: scroll; }
  .gallery__card {
    border: 1px solid var(--color-gray-light-3);
    margin-bottom: 3px;
    box-shadow: 0 1px 1px var(--color-gray-light-3);
    width: 16rem;
    margin-top: 2vh; }
    .gallery__card:hover {
      box-shadow: 1px 3px 7px var(--color-gray-light-3); }
    .gallery__card:hover .gallery__card__upper {
      opacity: .5; }
    .gallery__card:not(:last-of-type) {
      margin-right: 2rem; }
    .gallery__card__upper {
      width: 16rem;
      filter: sepia(0.1) grayscale(0.05) saturate(0.9); }
      .gallery__card__upper img {
        width: 99.5%; }
    .gallery__card__bottom {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column; }
      .gallery__card__bottom__title {
        font-size: 1.2rem; }
      .gallery__card__bottom__name {
        margin-top: .5rem; }
      .gallery__card__bottom__rating {
        margin-top: .5rem;
        display: flex;
        align-items: center; }
        .gallery__card__bottom__rating-stars {
          margin-right: .5rem; }
          .gallery__card__bottom__rating-stars i {
            color: var(--color-yellow); }
            .gallery__card__bottom__rating-stars i:last-of-type {
              color: var(--color-gray-light-3); }
        .gallery__card__bottom__rating-point span {
          font-size: 1.5rem;
          font-weight: 400;
          margin-right: .3rem; }
      .gallery__card__bottom__price {
        margin-top: .5rem;
        align-self: flex-end;
        font-size: 2rem;
        font-weight: 400; }

@media (min-width: 576px) {
  .gallery__card {
    width: 23rem; }
    .gallery__card__upper {
      width: 23rem; }
    .gallery__card__bottom {
      font-size: 1.3rem;
      padding: 2rem 2rem; }
      .gallery__card__bottom__title {
        font-size: 1.5rem;
        font-weight: 400; }
      .gallery__card__bottom__name {
        margin-top: 1rem; }
      .gallery__card__bottom__rating {
        margin-top: 1rem; }
      .gallery__card__bottom__price {
        margin-top: 1rem; } }

.topics {
  margin-top: 3rem;
  color: var(--color-gray-dark-2); }
  .topics__title {
    font-size: 2rem;
    font-weight: 400; }
  .topics__wrapper {
    display: flex;
    flex-wrap: wrap; }
  .topics__item {
    border: 1px solid var(--color-gray-light-3);
    box-shadow: 0 1px 1px var(--color-gray-light-3);
    padding: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem; }
    .topics__item:hover {
      box-shadow: 1px 2px 7px var(--color-gray-light-3); }

@media (min-width: 768px) {
  .topics__item {
    width: 20rem; } }

.welcomeBack {
  padding: 3rem 0 1rem;
  font-size: 1.6rem;
  color: var(--color-gray-dark-2); }
  .welcomeBack__title {
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--color-black); }
  .welcomeBack__description {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .welcomeBack__description__right {
      color: var(--color-blue);
      font-size: 1.8rem; }
  .welcomeBack__wrapper {
    overflow-x: scroll;
    margin-top: .7rem;
    display: flex; }
  .welcomeBack__card {
    border: 1px solid var(--color-gray-light-3);
    margin-right: 2rem; }
    .welcomeBack__card:hover {
      box-shadow: 1px 2px 7px var(--color-gray-light-3); }
    .welcomeBack__card__main {
      display: flex; }
      .welcomeBack__card__main__left {
        flex: 0 0 35%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .welcomeBack__card__main__left i {
          position: absolute;
          font-size: 6rem;
          opacity: .7; }
      .welcomeBack__card__main__right {
        flex: 0 0 65%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .welcomeBack__card__main__right-title {
          font-weight: 500; }
        .welcomeBack__card__main__right-timeLeft {
          font-size: 1.5rem; }
    .welcomeBack__card__under {
      background: var(--color-gray-light-3); }
      .welcomeBack__card__under-bar {
        background: #79a7e2;
        height: .7rem; }
        .welcomeBack__card__under-bar--1 {
          width: 40%; }
        .welcomeBack__card__under-bar--2 {
          width: 87%; }
        .welcomeBack__card__under-bar--3 {
          width: 20%; }

.picks {
  font-size: 1.4rem;
  color: var(--color-gray-dark-2); }
  .picks__title {
    font-size: 2rem;
    font-weight: 400; }
  .picks__wrapper {
    border: 1px solid var(--color-gray-light-3);
    box-shadow: 1px 1px 1px var(--color-gray-light-3);
    margin-top: 1rem;
    padding: 2rem;
    justify-content: space-between;
    transition: all .5s;
    position: relative; }
    .picks__wrapper:hover {
      box-shadow: 1px 2px 7px var(--color-gray-light-3); }
    .picks__wrapper__left {
      flex: 0 0 30%; }
      .picks__wrapper__left img {
        width: 100%; }
    .picks__wrapper__right {
      flex: 0 67%; }
      .picks__wrapper__right__title {
        margin-top: 1rem;
        font-size: 2.2rem;
        font-weight: 400;
        width: 85%; }
      .picks__wrapper__right__lastUpdated {
        margin-top: .5rem; }
      .picks__wrapper__right__tag {
        margin-top: 1rem;
        width: 7rem;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;
        background: var(--color-yellow);
        display: flex;
        justify-content: center;
        align-items: center; }
        .picks__wrapper__right__tag::after {
          content: "";
          position: absolute;
          right: -10px;
          bottom: 0;
          width: 0;
          height: 0;
          border-left: 10px solid var(--color-yellow);
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent; }
      .picks__wrapper__right__info {
        margin-top: 5px;
        display: flex; }
        .picks__wrapper__right__info-item:not(:first-of-type) {
          list-style: disc; }
        .picks__wrapper__right__info-item:not(:last-of-type) {
          margin-right: 2.5rem; }
      .picks__wrapper__right__rating {
        margin-top: 5px;
        display: flex; }
        .picks__wrapper__right__rating-stars {
          margin-right: 5px; }
          .picks__wrapper__right__rating-stars i {
            color: var(--color-yellow); }
      .picks__wrapper__right__description {
        display: none; }
      .picks__wrapper__right__button {
        margin-top: 1.5rem;
        padding: 1rem;
        display: inline-block;
        background: var(--color-green);
        color: var(--color-white); }
    .picks__wrapper__icon {
      color: var(--color-red);
      font-size: 3rem;
      position: absolute;
      bottom: 18rem;
      right: 5%;
      cursor: pointer; }
      .picks__wrapper__icon:hover {
        opacity: .8; }
    .picks__wrapper__price {
      position: absolute;
      bottom: 2rem;
      right: 2%;
      font-size: 2.3rem;
      font-weight: 300; }

@media (min-width: 576px) {
  .picks__wrapper {
    display: flex; }
    .picks__wrapper__right__title {
      margin-top: 0; }
    .picks__wrapper__icon {
      color: var(--color-red);
      font-size: 3rem;
      position: absolute;
      top: 5%;
      right: 2%; } }

@media (min-width: 992px) {
  .picks__wrapper__right__description {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--color-gray-black);
    width: 80%; } }

.toggleable {
  display: none; }

@media (min-width: 992px) {
  .toggleable {
    display: block;
    margin: 3rem 0;
    font-size: 1.5rem;
    color: var(--color-gray-dark-2); }
    .toggleable__title {
      font-size: 2rem;
      font-weight: 400; }
    .toggleable__wrapper {
      border: 1px solid var(--color-gray-light-3);
      padding: 1.5rem 1rem;
      margin-top: 1rem;
      display: flex; }
      .toggleable__wrapper__left {
        border-right: 1px solid var(--color-gray-light-3);
        flex: 0 0 25%;
        margin-right: 1rem;
        display: flex;
        flex-direction: column; }
        .toggleable__wrapper__left-item {
          position: relative; }
          .toggleable__wrapper__left-item label {
            display: block;
            padding: 1.8rem 2rem;
            cursor: pointer; }
            .toggleable__wrapper__left-item label::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 5px;
              height: 100%;
              background: var(--color-green);
              z-index: 4;
              transform: scaleY(0);
              transition: transform .3s; }
          .toggleable__wrapper__left-item input {
            display: none; }
            .toggleable__wrapper__left-item input:checked + label {
              font-weight: 500; }
              .toggleable__wrapper__left-item input:checked + label:after {
                transform: scaleY(1); }
      .toggleable__wrapper__right {
        flex: 0 0 74%;
        display: flex;
        flex-direction: column; }
    .toggleable__card {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      position: relative;
      border-bottom: 1px solid var(--color-gray-light-3); }
      .toggleable__card:hover {
        background: var(--color-gray-light-2); }
      .toggleable__card__left {
        margin-right: 1rem;
        padding: 1rem 0; }
      .toggleable__card__right {
        flex: 0 0 70%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column; }
        .toggleable__card__right__upper-title {
          font-size: 1.5rem; }
        .toggleable__card__right__upper-updated {
          margin-top: .5rem; }
        .toggleable__card__right__rating {
          margin-top: 1rem;
          display: flex; }
          .toggleable__card__right__rating-star {
            margin-right: 2rem; }
            .toggleable__card__right__rating-star i {
              color: var(--color-yellow); }
          .toggleable__card__right__rating-subscriber i {
            color: var(--color-gray-dark-1); }
      .toggleable__card-heart {
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 2.2rem;
        color: var(--color-red); }
        .toggleable__card-heart:hover {
          opacity: .7; }
      .toggleable__card-price {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        font-weight: 500;
        font-size: 2rem; } }

@media (min-width: 1200px) {
  .toggleable__card__right {
    flex-direction: row;
    align-items: flex-start; }
    .toggleable__card__right__upper {
      margin-right: 3rem; }
    .toggleable__card__right__rating {
      margin-top: 0; } }
