:root {
    // colors
    --color-white: #fff;

    --color-gray-light-1: rgb(253, 253, 253);
    --color-gray-light-2: rgb(247, 247, 247);
    --color-gray-light-3: rgb(221, 221, 221);
    --color-gray-dark-1: rgb(150, 150, 150);
    --color-gray-dark-2: rgb(97, 97, 97);

    --color-black: rgb(17, 16, 14);


    --color-red: rgb(250, 99, 82);
}







*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}






// 
main {
    height: 100vh;
}











@media (min-width: 576px) {
    html { font-size: 62.5%; }
}

@media (min-width: 768px) {
    html { font-size: 62.5%; }
}

@media (min-width: 992px) {
    html { font-size: 62.5%; }
}

@media (min-width: 1200px) {
    html { font-size: 62.5%;}

}










@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}