//////// Link bar /////////
.linkbar {
    display: none;
}

@media (min-width: 992px) {
    .linkbar {
        display: block;
        background: var(--color-gray-light-2);
        font-size: 1.6rem;
        color: var(--color-gray-dark-1);
        position: relative;

        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-item {
            align-self: stretch;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 1.5rem 1rem;

            &:hover {
                background: var(--color-gray-light-3);
            }

            &:last-of-type {
                display: none;
            }

            i {
                margin-right: 5px;
            }

            h5 {
                font-weight: 300;
            }
        }

        &__dropdown {
            background: black;
            color: white;
            width: 100%;
            position: absolute;
            justify-content: center;
            display: flex;

            &-item {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1rem;
            }
            &-link {
                padding: 3rem;
            }
            i {
                font-size: 4rem;
            }
            p {
                margin-top: 1rem;
            }
            
            &.inactive {
                display: none;
            }

        }
    }
}

@media (min-width: 1200px) {
    .linkbar {
        &-item {
            &:last-of-type {
                display: flex;
            }
        }
    }
}


////////// Facade //////////
.facade {
    color: var(--color-white);

    &-wrapper {
        background: url(../images/facade.jpg);
        background-size: cover;
        background-position: center;
        padding: 15vh 0 5vh 3vw;
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 200;
    }

    &__description {
        width: 50%;
        margin-top: 1.8rem;
        font-weight: 200;
        font-size: 1.8rem;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .facade {
        &-wrapper {
            background-position: top;
            padding-bottom: 15vh;
        }

        &__heading {
            font-size: 4rem;
            font-weight: 400;
        }


    }
}

@media (min-width: 1200px) {}




////////// GALLERY //////////
.gallery {
    margin: 5vh 0;

    &__title {
        font-size: 2rem;
        font-weight: 400;
    }

    &__description {
        font-size: 1.5rem;
        padding-top: 1rem;

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        overflow: scroll;
    }

    &__card {
        border: 1px solid var(--color-gray-light-3);
        margin-bottom: 3px;
        box-shadow: 0 1px 1px var(--color-gray-light-3);
        width: 16rem;
        margin-top: 2vh;

        &:hover {
            box-shadow: 1px 3px 7px var(--color-gray-light-3);
        }

        &:hover &__upper {
            opacity: .5;
        }

        &:not(:last-of-type) {
            margin-right: 2rem;
        }

        &-link {}

        &__upper {
            width: 16rem;
            filter: sepia(.1) grayscale(.05) saturate(.9);

            img {
                width: 99.5%;
            }
        }

        &__bottom {
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;

            &__title {
                font-size: 1.2rem;
            }

            &__name {
                margin-top: .5rem;
            }

            &__rating {
                margin-top: .5rem;
                display: flex;
                align-items: center;

                &-stars {
                    margin-right: .5rem;

                    i {
                        color: var(--color-yellow);

                        &:last-of-type {
                            color: var(--color-gray-light-3);
                        }
                    }
                }

                &-point {
                    span {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-right: .3rem;
                    }
                }

            }

            &__price {
                margin-top: .5rem;
                align-self: flex-end;
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}


@media (min-width: 576px) {
    .gallery {
        &__card {
            width: 23rem;

            &__upper {
                width: 23rem;
            }

            &__bottom {
                font-size: 1.3rem;
                padding: 2rem 2rem;

                &__title {
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                &__name {
                    margin-top: 1rem;
                }

                &__rating {
                    margin-top: 1rem;
                }

                &__price {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}



////////// Topics //////////
.topics {
    margin-top: 3rem;
    color: var(--color-gray-dark-2);

    &__title {
        font-size: 2rem;
        font-weight: 400;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        border: 1px solid var(--color-gray-light-3);
        box-shadow: 0 1px 1px var(--color-gray-light-3);
        padding: 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 1.6rem;

        &:hover {
            box-shadow: 1px 2px 7px var(--color-gray-light-3);
        }
    }


}


@media (min-width: 576px) {}

@media (min-width: 768px) {
    .topics {
        &__item {
            width: 20rem;
        }
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}



/////////// welcomeBack //////////
.welcomeBack {
    padding: 3rem 0 1rem;

    font-size: 1.6rem;
    color: var(--color-gray-dark-2);


    &__title {
        font-size: 2.3rem;
        font-weight: 400;
        color: var(--color-black);
    }

    &__description {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {}

        &__right {
            color: var(--color-blue);
            font-size: 1.8rem;
        }
    }

    &__wrapper {

        overflow-x: scroll;
        margin-top: .7rem;
        display: flex;
    }

    &__link {}

    &__card {
        border: 1px solid var(--color-gray-light-3);
        margin-right: 2rem;

        &:hover {
            box-shadow: 1px 2px 7px var(--color-gray-light-3);
        }

        &__main {
            display: flex;

            &__left {
                flex: 0 0 35%;
                overflow: hidden;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                &-image {}

                i {
                    position: absolute;
                    font-size: 6rem;
                    opacity: .7;
                }

            }

            &__right {
                flex: 0 0 65%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-title {
                    font-weight: 500;
                }

                &-timeLeft {
                    font-size: 1.5rem;
                }
            }
        }

        &__under {
            background: var(--color-gray-light-3);

            &-bar {
                background: rgb(121, 167, 226);
                height: .7rem;

                &--1 {
                    width: 40%;

                }

                &--2 {
                    width: 87%;

                }

                &--3 {
                    width: 20%;
                }
            }
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}


@media (min-width: 992px) {}

@media (min-width: 1200px) {}



/////// Picks ///////
.picks {
    font-size: 1.4rem;
    color: var(--color-gray-dark-2);

    &__title {
        font-size: 2rem;
        font-weight: 400;
    }

    &__wrapper {
        border: 1px solid var(--color-gray-light-3);
        box-shadow: 1px 1px 1px var(--color-gray-light-3);
        margin-top: 1rem;
        padding: 2rem;
        justify-content: space-between;
        transition: all .5s;
        position: relative;

        &:hover {
            box-shadow: 1px 2px 7px var(--color-gray-light-3);
        }

        &__left {
            flex: 0 0 30%;

            img {
                width: 100%;
            }
        }

        &__right {
            flex: 0 67%;

            &__title {
                margin-top: 1rem;
                font-size: 2.2rem;
                font-weight: 400;
                width: 85%;
            }

            &__lastUpdated {
                margin-top: .5rem;
            }

            &__tag {
                margin-top: 1rem;
                width: 7rem;
                height: 2rem;
                font-size: 1.2rem;
                font-weight: 500;
                position: relative;
                background: var(--color-yellow);
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-left: 10px solid var(--color-yellow);
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }

            }

            &__info {
                margin-top: 5px;
                display: flex;

                &-item {

                    &:not(:first-of-type) {
                        list-style: disc;
                    }

                    &:not(:last-of-type) {
                        margin-right: 2.5rem;
                    }
                }
            }

            &__rating {
                margin-top: 5px;
                display: flex;

                &-stars {
                    margin-right: 5px;

                    i {
                        color: var(--color-yellow);
                    }
                }
            }

            &__description {
                display: none;
            }

            &__button {
                margin-top: 1.5rem;
                padding: 1rem;
                display: inline-block;
                background: var(--color-green);
                color: var(--color-white);
            }
        }

        &__icon {
            color: var(--color-red);
            font-size: 3rem;
            position: absolute;
            bottom: 18rem;
            right: 5%;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }



        &__price {
            position: absolute;
            bottom: 2rem;
            right: 2%;
            font-size: 2.3rem;
            font-weight: 300;
        }
    }
}

@media (min-width: 576px) {
    .picks__wrapper {
        display: flex;

        &__right {
            &__title {
                margin-top: 0;
            }
        }

        &__icon {
            color: var(--color-red);
            font-size: 3rem;
            position: absolute;
            top: 5%;
            right: 2%;
        }
    }
}

@media (min-width: 768px) {}


@media (min-width: 992px) {
    .picks__wrapper {
        &__right {
            &__description {
                display: block;
                margin-top: 1rem;
                font-size: 1.6rem;
                color: var(--color-gray-black);
                width: 80%;
            }
        }
    }
}

@media (min-width: 1200px) {}



//// Toggleable menu ////
.toggleable {
    display: none;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}


@media (min-width: 992px) {
    .toggleable {
        display: block;
        margin: 3rem 0;
        font-size: 1.5rem;
        color: var(--color-gray-dark-2);

        &__title {
            font-size: 2rem;
            font-weight: 400;
        }

        &__wrapper {
            border: 1px solid var(--color-gray-light-3);
            padding: 1.5rem 1rem;
            margin-top: 1rem;
            display: flex;

            &__left {
                border-right: 1px solid var(--color-gray-light-3);
                flex: 0 0 25%;
                margin-right: 1rem;
                display: flex;
                flex-direction: column;

                &-item {
                    position: relative;

                    label {
                        display: block;
                        padding: 1.8rem 2rem;
                        cursor: pointer;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 5px;
                            height: 100%;
                            background: var(--color-green);
                            z-index: 4;
                            transform: scaleY(0);
                            transition: transform .3s;
                        }
                    }

                    input {
                        display: none;

                        &:checked+label {
                            font-weight: 500;

                            &:after {
                                transform: scaleY(1);
                            }
                        }
                    }
                }
            }

            &__right {
                flex: 0 0 74%;
                display: flex;
                flex-direction: column;
            }
        }

        &__card {
            padding: 1rem;
            display: flex;
            justify-content: flex-start;
            position: relative;
            border-bottom: 1px solid var(--color-gray-light-3);

            &:hover {
                background: var(--color-gray-light-2);
            }

            &__left {
                margin-right: 1rem;
                padding: 1rem 0;
            }

            &__right {
                flex: 0 0 70%;
                padding: 1rem 0;

                display: flex;
                flex-direction: column;

                &__upper {

                    &-title {
                        font-size: 1.5rem;
                    }

                    &-updated {
                        margin-top: .5rem;
                    }
                }

                &__rating {
                    margin-top: 1rem;
                    display: flex;


                    &-star {
                        margin-right: 2rem;

                        i {
                            color: var(--color-yellow);
                        }
                    }

                    &-subscriber {
                        i {
                            color: var(--color-gray-dark-1);
                        }
                    }
                }
            }



            &-heart {
                position: absolute;
                top: 2rem;
                right: 3rem;
                font-size: 2.2rem;
                color: var(--color-red);

                &:hover {
                    opacity: .7;
                }
            }

            &-price {
                position: absolute;
                bottom: 2rem;
                right: 3rem;
                font-weight: 500;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .toggleable {

        &__card {

            &__right {
                flex-direction: row;
                align-items: flex-start;

                &__upper {
                    margin-right: 3rem;
                }

                &__rating {
                    margin-top: 0;
                }
            }
        }
    }
}