//////// Link bar /////////

.linkbar {
    display: none;
}

@media (min-width: 992px) {
    .linkbar {
        display: block;
        background: var(--color-gray-light-2);
        padding: 0 7vw;
        font-size: 1.6rem;
        color: var(--color-gray-dark-1);

        &-list {
            padding: 3vh 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item {
            cursor: pointer;
            display: flex;
            align-items: center;

            &:last-of-type {
                display: none;
            }

            i {
                margin-right: 5px;
            }
            h5 {
                font-weight: 300;
            }
        }
    }
}

@media (min-width: 1200px) {
    .linkbar {
        &-item {
            &:last-of-type {
                display: flex;
            }
        }
    }
}


////////// Facade //////////

.facade {
    color: var(--color-white);

    &-wrapper {
        background: url(../images/facade.jpg);
        background-size: cover;
        background-position: center;
        padding: 15vh 0 5vh 3vw;
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 200;
    }

    &__description {
        width: 50%;
        margin-top: 1.8rem;
        font-weight: 200;
        font-size: 1.8rem;
    }
}





@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .facade {
        &-wrapper {
            background-position: top;
            padding-bottom: 15vh;
        }
        &__heading {
            font-size: 4rem;
            font-weight: 400;
        }


    }
}

@media (min-width: 1200px) {}