.header {
    display: flex;
    font-size: 1.4rem;
    color: var(--color-gray-dark-1);
    border-bottom: 3px solid var(--color-gray-light-2);

}

.header-s {
    width: 100vw;
    padding: 0 5vw;
    font-size: 2.3rem;
    color: var(--color-gray-dark-1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        i {
            cursor: pointer;
        }

        i:first-child {
            margin-right: 10px;
        }
    }

    &__middle {
        img {
            width: 14rem;
        }
    }

    &__right {
        i {
            cursor: pointer;
        }
    }
}

.header-m {
    width: 100vw;
    display: none;
}








@media (min-width: 576px) {}

@media (min-width: 768px) {

    .header-s {
        display: none;
    }

    .header-m {
        display: flex;
        align-items: center;

        &__left {
            margin-right: 3rem;
            display: flex;
            align-items: center;

            &-logo {
                width: 14rem;
            }

            &-categories {
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    margin-right: 5px;
                    font-size: 2rem;
                }

                h6 {
                    font-size: 1.3rem;
                }
            }
        }

        &__middle {
            margin-right: 3rem;

            &-form {
                position: relative;
            }

            &-input {
                width: 45vw;
                height: 4rem;
                border: none;
                background: var(--color-gray-light-2);
                font-size: 2rem;

                &::placeholder {
                    color: var(--color-gray-dark-1);
                    font-size: 1.5rem;
                }

                &:focus {
                    outline: none;
                }
            }

            &-search {
                position: absolute;
                top: 1.2rem;
                font-size: 1.5rem;
                right: 1rem;
                cursor: pointer;
                color: var(--color-red);
            }
        }

        &__right {
            flex: 0 0 15%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__menu {
                display: none;
                li {
                    cursor: pointer;
                }
            }

            &__icons {
                flex: 0 0 35%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                li {
                    cursor: pointer;
                }

                i {
                    font-size: 2rem;
                }

                li:nth-child(2n-1) {
                    display: none;
                }

                &-me {
                    padding: 1.5rem;
                    color: var(--color-white);
                    background: var(--color-gray-dark-1);
                    border-radius: 50%;
                    margin-left: 2rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header-m {

        &__middle {

            &-input {
                width: 40vw;

            }
        }

        &__right {
            flex: 0 0 30%;

            &__menu {
                margin-right: 3rem;
                display: flex;

                li:nth-of-type(3) {
                    margin-left: 2rem;
                }

                li:not(:last-of-type) {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .header-m {

        &__middle {

            &-input {
                width: 30vw;

            }
        }



        &__right {
            flex: 0 0 45%;

            &__menu {
                li:not(:last-of-type) {
                    display: block;
                    margin-right: 1rem;
                }
            }

            &__icons {

                li:nth-child(2n-1) {
                    display: block;
                }

                &-me {
                    margin-left: 0;
                }
            }
        }
    }
}